@page "/"

@inject SkillsClient SkillsClient

<PageTitle>Index</PageTitle>

<div style="margin-top: 64px; width: 100%; height: 70vh; ">
    <MudIconButton Icon="@Icons.Material.Filled.BugReport" 
                   Color="Color.Error"
                   OnClick="HandleBugClick"
                   Style="@GetStyle()"/>
</div>

               
@code {

    private async Task HandleBugClick()
    {
        await SkillsClient.SquashBugAsync();
        StateHasChanged();
    }

    // Make GetStyle position the button randomly on the page
    private string GetStyle()
    {
        var random = new Random();
        var top = random.Next(0, 100);
        var left = random.Next(0, 100);
        return $"position: absolute; top: {top}%; left: {left}%; z-index: 9999999;";
    }
}